.containerAppBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color);
    padding: 2px;
}

.link{
    display: flex;
    width: 70px;
    height: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark-blue);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color-body)
    
}

.link:hover{
    color: var(--color-text-blue);
    background-color: var(--bg-color-hover);
}

.activeLink{
    font-size: 12px;
    background-color: var(--bg-color-hover);
}