.containerClose{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}

.green{
    font-size: 16px;;
    color :var(--color-button-green);
    margin-bottom: 8px;
}

.buttonGreen{
    background-color: var(--color-button-green);
}
