.containerAnnouncement{
    display: flex;
    width: 120px;
    height: 32px;
    color: var(--color-white);
    border: 1px solid var(--border-color-black);
    border-radius: 8px;
    background-color: var(--color-button-blue);
    align-items: center;

}


.titleAnnouncement{
    font-size: 10px;
    text-align: center;
    padding: 4px;
}

.containerAnnouncement:hover{
    background-color: var(--color-button-green-hover);
}