.containerModalDeleteUser{
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 190px;
    text-align: center;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 12px;
    margin-top: 24px;
}

.title{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 16px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 24px;
    gap: 8px;
}

.markerRed{
    font-size: 10px;
    position: relative;
    top:14px;
    left: 24px;
    color: red;
}

.label{
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.userId{
    font-size: 12px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 6px 12px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.containerModalDelete{
    display: flex;
    justify-content: center;
}

.green{
     background-color: var(--color-button-green);
}
 
.red{
    background-color: var(--color-button-red);
}

.green:hover{
    background-color: var(--color-button-green-hover);
}

.red:hover{
    background-color: var(--color-button-red-hover);
}