.containerChapter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.listAddAnnouncement{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.label{
    font-size: 8px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 4px;
    text-align: left;
}

.selectChapter{
    width: 114px;
    height: 24px;
    font-size: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    text-align: center;
}

.selectChapter:hover{
     background-color: var(--bg-color-hover);
}

.selectChapter:focus{
     background-color: var(--bg-color-hover);
}

.option{
    font-size: 10px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
}


