.button{
    display: flex;
    width: 70px;
    height: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark-blue);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color-body);
    margin: 0;
    padding: 0;
}

.button:hover{
    color: var(--color-white);
    background-color: var(--color-text-red);
}