.containerAddAnnouncement{
    display: flex;
    flex-direction: column;
    width: 222px;
    height: auto;
    /* text-align: center; */
    /* align-items: center; */
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 12px;
    margin-top: 24px;
}

.title{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 16px;
}

.markerRed{
    font-size: 12px;
    position: relative;
    top:4px;
    left: 140px;
    color: red;
}

.listAddAnnouncement{
    display: flex;
    flex-direction: column;
}

.listTextAnnoncement{
    width: 120px;
    height: 100%;
    font-size: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 6px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    /* text-align: center; */
    margin-bottom: 8px;
}

.listPurchaseSale{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-dark-blue);
    margin-bottom: 2px;
}


