.formSearch{
    display: flex;
    flex-direction: column;
}

.formInput{
    width: 100px;
    font-size: 12px;
    padding: 4px 4px 4px 8px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    outline: none;
}

::placeholder{
    font-style: italic;
    font-size: 10px;
}