.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 64px;
  height: 32px;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  background-color: var(--color-button-blue);
  color: var(--color-white);
  cursor: pointer;
}

.button:hover{
    background-color: var(--color-button-green-hover);
}

.button.green{
    background-color: var(--color-button-green);
}

.button.red{
    background-color: var(--color-button-red);
}

.button.green:hover{
    background-color: var(--color-button-green-hover);
}

.button.red:hover{
    background-color: var(--color-button-red-hover);
}

.addUser, .updataUser, .deleteUser, .addAnnouncement, .updataAnnouncement, .deleteAnnouncement{
  font-size: 10px;
  width: 84px;
  height: 28px;
  
}

.search{
    font-size: 10px;
    padding: 4px;
    width: 54px;
    height: 20px;
    border-radius: 10px;
    margin: 6px 0 0 0;
}

.addUser, .addAnnouncement{
background-color: var(--color-button-green);
}

.updataUser, .updataAnnouncement{
background-color: var(--color-button-blue);
}

.deleteUser, .deleteAnnouncement{
background-color: var(--color-button-red);
}