table {
   border-collapse: collapse;
    background-color: var(--color-white-grey);
    width: 100%;
}

td, tr, th {
    font-size: 10px;
    border: 2px solid var(--color-border);
    padding: 8px;
    text-align: left;
    margin: 0;
    padding: 4px;
}

th {
    background: var(--bg-color-grey);
}
td{
      height: 10px;;
}   

.nameTh, .roleTh{
    /* width: 40px; */
}

.emailTh{
    /* width: 60px; */
}

.phoneTh{
    /* width: 60px; */
}

tbody>tr:hover {
    background-color: var(--bg-color-hover);
}

.userList{
    font-size: 14px;
    color:var(--color-text)
}
