table {
   border-collapse: collapse;
    background-color: var(--color-white-grey);
    width: 100%;
}

.userCollectionsTitle{
    font-size: 14px;
}

 th{
   font-size: 10px; 
   border: 2px solid var(--color-border);
   margin: 0 auto;
   padding: 4px;
}
td, tr {
    font-size: 9px;
    border: 2px solid var(--color-border);
    text-align: left;
    margin: 0 auto;
    padding: 4px;
}

th {
    background: var(--bg-color-grey);
}
td{
      height: 10px;;
}   

tbody>tr:hover {
    background-color: var(--bg-color-hover);
}

.userList{
    font-size: 14px;
    color:var(--color-text)
}
