.containerAddUser{
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 260px;
    text-align: center;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 12px;
    margin-top: 24px;
}

.title{
    font-size: 14px;
    margin-bottom: 10px;
}
