table {
   border-collapse: collapse;
    background-color: var(--color-white-grey);
    width: 290px;
}

.announcementCollectionsTitle{
    font-size: 20px;
}

 th{
   font-size: 10px; 
   border: 2px solid var(--color-border);
   margin: 0 auto;
   padding: 4px;
}
td, tr {
    font-size: 9px;
    border: 2px solid var(--color-border);
    text-align: left;
    margin: 0 auto;
    padding: 4px;
}

th {
    background: var(--bg-color-grey);
}

.chapter, .category, .idUser{
    font-size: 10px;
    font-weight: 700;
    background-color: var(--bg-color-grey-light);
}
