.containerAnimalsComponent{
    min-width: 294px;
}

.containerTitle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.titlePagination{
    font-size: 8px;
    font-weight: 400;
}

.titleAnimalsComponent{
    font-size: 14px;
}

.tableContainerAnimalsComponent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
    border: 1px solid var(--border-color-black);
    border-radius: 6px;
    background-color: var(--bg-color);
    padding: 6px;
    margin-bottom: 8px;
}

ul{
list-style-type: none;
}

.listCard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.chapter{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.listPurchaseSale{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-dark-blue);
    margin-bottom: 2px;
}

.listTextAnnouncement{
    margin-top: 4px;
    border-top: 2px dotted  var(--border-color-black);
}

.textAnnouncemnt{
    font-size: 10px;
    margin-top: 4px;
}

.textDate{
    text-align: right;
    font-size: 8px;
    font-weight: 500;
    margin-top: 4px;
    color: var(--color-text-dark-green) 
}