.containerModalDeleteAnnouncement{
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 90px;    
    text-align: center;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 12px;
    margin-top: 24px;
}

.title{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 16px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 24px;
    gap: 8px;
}

