.containerAnnouncementPages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title{
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
.containerUserFilterListButtonUserPages{
    display: flex;
    flex-direction: row;
    height: 178px
}

.containerUserUpdataUsers{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.containerUserSearch{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerUserInfo{
    min-width: 278px;
    height: 530px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    margin-top: 12px;
    padding: 8px;
}

.userCollectionsTitle{
    font-size: 20px;
    margin: 4px 0 6px 6px;
}

.containerLoadingData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textLoadingData{
    margin-bottom: 32px;
}