.markerRed{
    font-size: 12px;
    position: relative;
    left: 90px;
    color: red;
}

.markerGreen{
    font-size: 12px;
    position: relative;
    left: 90px;
    color: green;
}

.containerText{
    width: 180px;
    height: 74px;
    font-size: 12px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 10px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
}

:placeholder-shown{
    text-align: center;
}

.containerText:hover{
    background-color: var(--bg-color-hover);
}

.containerText:focus{
    background-color: var(--bg-color-hover);
}
