.containerChapter{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
}

.markerRed{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 40px;
    color: red;
}

.label{
    font-size: 8px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
    text-align: left;
}

.selectChapter{
    width: 100px;
    height: 24px;
    font-size: 12px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    text-align: center;
    margin-bottom: 12px;
}

.selectChapter:hover{
     background-color: var(--bg-color-hover);
}

.selectChapter:focus{
     background-color: var(--bg-color-hover);
}

.option{
    font-size: 10px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
}