table {
   border-collapse: collapse;
    background-color: var(--color-white-grey);
}

td, tr, th {
    border: 2px solid var(--color-border);
    padding: 8px;
    text-align: left;
    margin: 0;
    padding: 4px;
}

th {
    background: var(--bg-color-grey);
}
td{
      height: 26px;;
}   

.nameTh{
    width: 80px;
}

.emailTh{
    width: 180px;
}

.phoneTh{
    width: 140px;
}

tbody>tr:hover {
    background-color: var(--bg-color-hover);
}

.userList{
    font-size: 14px;
    color:var(--color-text)
}

.userList:hover{
    font-size: 16px;
}