.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}


.containerNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color);
    padding: 2px;
}

.link, .linkLogin{
    display: flex;
    width: 70px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark-blue);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color-body)
    
}

.linkLogin{
    font-size: 10px;
}

.link:hover, .linkLogin:hover{
    color: var(--color-text);
    
    background-color: var(--bg-color-hover);
}

.captersSvc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    color: var(--color-text);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color);
    margin-top: 10px;
}

.titleHomePage{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 10px;
}

.spanS{
    color: var(--color-text-red);
    font-size: 32px;
}

.spanV{
    color: var(--color-text-dark-blue);
    font-size: 32px;
}

.spanC{
    color: var(--color-text-green);
    font-size: 32px;
}

.spanA, .spanIn, .spanI{
    color: var(--color-text);
    font-size: 6px;
}

.listAnnouncement{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}

.listTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 12px;
    
}

.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

