.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.captersSvc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    color: var(--color-text);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color);
    margin-top: 10px;
}

.titleHomePage{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 10px;
}

.spanS{
    color: var(--color-text-red);
    font-size: 32px;
}

.spanV{
    color: var(--color-text-dark-blue);
    font-size: 32px;
}

.spanC{
    color: var(--color-text-green);
    font-size: 32px;
}

.spanA, .spanIn, .spanI{
    color: var(--color-text);
    font-size: 6px;
}

.containerAnnouncement{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    list-style-type: none;
}

.containerListAnnouncement{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 12px;
}

.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}






.containerSection{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}

.containerBaner{
    width: 140px;
    height: 60px;
    background-color: var(--bg-color-stub);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
}

.banerImage{
    width: 140px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.textBanerOneTitle{
    font-size: 12px;
    position: relative;
    top: -30px;
    left: 90px;
}

.textBanerOneText{
    font-size: 10px;
    position: relative;
    top: -42px;
    left: 8px;
}
.taxtBanerTwoText{
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -68px;
    left: 64px;
}

