.containerModalDeleteUser{
    height: 110px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 24px;
    gap: 8px;
}

.listContainer{
    display: flex;
    height: 90px;
    flex-direction: column;
    align-items: start;
}

.markerRed{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 42px;
    color: red;
}

.label{
    font-size: 10px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
}

.userId{
    font-size: 12px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 6px 12px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.userId:hover{
    background-color: var(--bg-color-hover);
}
.userId:focus{
    background-color: var(--bg-color-focus);
}
