.containerClose{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    padding-top: 36px;
}

.red{
    text-align: center;
    font-size: 14px;;
    color :var(--color-text-red);
}

.buttonRed{
    background-color: var(--color-button-red);
}
