.containerFormAddPrice{
    display: flex;
    flex-direction: column;
}

.markerRed{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 54px;
    color: red;
}

.markerGreen{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 54px;
    color: green;
}

.labelPrice{
    font-size: 8px;
    margin-bottom: 2px;
    margin-left: 36px;
}

.inputAddPrice{
    width: 80px;
    height: 14px;
    font-size: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}


.inputAddPrice:hover{
     background-color: var(--bg-color-hover);
}

.inputAddPrice:focus{
     background-color: var(--bg-color-hover);
}