.containerModalAddUser{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 236px;
}

.containerModalDeleteUser{
    height: 110px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 24px;
    gap: 8px;
}

.listContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.label{
    font-size: 12px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
}

.markerRed{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 40px;
    color: red;
}

.markerGreen{
    font-size: 10px;
    position: relative;
    top:8px;
    left: 44px;
    color: green;
}

.username, .email, .phone{
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 6px 12px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.username:hover, .email:hover, .phone:hover{
    background-color: var(--bg-color-hover);
}
.username:focus, .email:focus, .phone:focus{
    background-color: var(--bg-color-focus);
}