.containerClose{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}

.red{
    font-size: 16px;;
    color :var(--color-text-red);
}

.buttonRed{
    background-color: var(--color-button-red);
}
