.containerModalAddUser{
    height: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 24px;
    gap: 8px;
}

.listContainer{
    display: flex;
    height: 90px;
    flex-direction: column;
    align-items: start;
}


.markerRedEmail{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 38px;
    color: red;
}

.markerRedPassword{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 44px;
    color: red;
}

.label{
    font-size: 10px;
    margin-left: 10px;
    opacity: 80;
    margin-bottom: 2px;
}

.email, .password{
    font-size: 12px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 6px 12px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.email:hover, .password:hover{
    background-color: var(--bg-color-hover);
}
.email:focus, .password:focus{
    background-color: var(--bg-color-focus);
}
