.buttonUserPages{
    width: 120px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    margin-left: 60px;
}

.listButtonUserPages{
    list-style-type: none;
}

