.buttonUserContainer{
    display: flex;
    width: 120px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    margin-left: 60px;
    align-items: center;
}

.listButtonUser{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

