.containerUserPages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.containerUserFilterListButtonUserPages{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    padding-top: 40px;
}

.listButtonUserPages{
    list-style-type: none;
    margin-right: 28px;
    width: 120px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 8px;
}

.containerUserInfo{
    min-width: 320px;
    height: 530px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    margin: 8px 28px 0 28px;
    padding: 8px;
}

.userCollectionsTitle{
    font-size: 20px;
    margin: 16px 0 16px 12px;
}