.containerUserPages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerUserFilterListButtonUserPages{
    display: flex;
    flex-direction: row;
    justify-content:first baseline;

}

.containerUserPageTitleSearch{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.containerUserSearch{
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}


.containerUserInfo{
    min-width: 278px;
    height: 530px;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    margin-top: 12px;
    padding: 8px;
}

.userCollectionsTitle{
    font-size: 20px;
    margin: 16px 0 16px 12px;
}

.containerLoadingData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textLoadingData{
    margin-bottom: 32px;
}