/* .containerUserHome{ */
    /* width:100%; */
/* background-color: var(--bg-color); */
/* } */

.listAnnouncements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.containerTitle{
    display: flex;
    flex-direction: row;
    min-width: 294px;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.titleAnnouncement{
    font-size: 14px;
}

.addAnnouncement{
    display: flex;
    width: 64px;
    height: 20px;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-dark-blue);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    background-color: var(--bg-color-body)
}


.tableContainerComponent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
    /* list-style-type: none; */
    border: 1px solid var(--border-color-black);
    border-radius: 6px;
    background-color: var(--bg-color);
    padding: 6px;
    margin-bottom: 8px;
}

ul{
list-style-type: none;
}

.listCard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.chapter{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}


.containerDescriptionImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listCardT{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.listDescriptionTitle{
    display: flex;
    flex-direction: column;
}

.listPurchaseSale{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-dark-blue);
    margin-bottom: 2px;
}

.listYar, .listPrice, .listCategory{
    font-size: 12px;
     margin-bottom: 2px;
}

.listTextAnnouncement{
    margin-top: 4px;
    border-top: 2px dotted  var(--border-color-black);
    border-bottom: 2px dotted  var(--border-color-black);

}

.image{
    width: 120px;
    height: 66px;
    border-radius: 4px;
    background-color: var(--color-button-blue);
}


.textAnnouncemnt{
    font-size: 10px;
    margin-top: 4px;
    
}

.containerButton{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 6px 18px 0 18px;
}

.buttonDelete{
    margin: 0;
    background-color: var(--color-button-red);
}

.buttonUpdate{
    margin: 0;    
    background-color: var(--color-button-green);
}

.buttonDelete:hover{
    background-color: var(--color-button-red-hover);
}

.buttonUpdate:hover{
    background-color: var(--color-button-green-hover);
}







.errorAnnouncement{
    font-size: 10px;
    color: var(--color-text-red);
}