.containerAddUser{
    display: flex;
    flex-direction: column;
    width: 222px;
    text-align: center;
    align-items: center;
    border: 1px solid var(--border-color-black);
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 12px;
    margin-top: 24px;
}

.title{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 16px;
}

.listAddUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.markerRed{
    font-size: 10px;
    position: relative;
    top:6px;
    left: 18px;
    color: red;
}

.markerGreen{
    font-size: 10px;
    position: relative;
    top:8px;
    left: 18px;
    color: green;
}


.label{
    font-size: 8px;
    opacity: 80;
    margin-bottom: 2px;
}

.username, .userEmail, .userPhone{
    width: 160px;
    height: 14px;
    font-size: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 14px;
    padding: 4px 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    text-align: center;
}

.username:hover, .userEmail:hover, .userPhone:hover{
    background-color: var(--bg-color-hover);
}
.username:focus, .userEmail:focus, .userPhone:focus{
    background-color: var(--bg-color-focus);
}

