.containerApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
  min-width: 304px;
  max-width: 768px;
  height: 100%;
  /* height: auto; */
  /* min-height: 900px; */
  background-color: var(--bg-color-body);
  margin: 0 auto;
  padding: 8px;
}