:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  --color-white: white;
  --color-border: #6d9cd2;
  --bg-color: rgba(229, 235, 235, 0.6);

  --color-button-green: rgb(86, 197, 53);
  --color-button-red:rgb(236, 26, 26);

  --border-color-black: rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  place-items: top;
  place-content: center;
  background-color: rgba(217, 187, 148, 0.53);
  /* padding-left: 12px; */
  /* padding-right: 12px; */
}
h1, h2, h3, h4, h5, a, p{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
