:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  --color-white: white;
  --color-white-grey: rgb(240, 240, 240);
  --color-black: black;
  --color-text: #2e2e2e;
  --color-text-blue: #639cf0;
  --color-text-red: #d9534f;
  --color-text-green: rgb(0, 190, 0);
  --color-text-dark-blue: #155eb1;

  --color-border: #6d9cd2;
  --bg-color-body:rgba(217, 187, 148, 0.4);
  --bg-color: rgba(229, 235, 235, 0.6);
  --bg-color-focus: rgba(135, 242, 102, 0.267);
  --bg-color-hover: rgba(135, 242, 102, 0.665);
  --bg-color-grey: rgba(176, 53, 53, 0.45);
  --bg-color-grey-light: rgba(176, 53, 53, 0.05);

  --bg-color-stub: rgba(244, 198, 198, 0.15);

  --color-button-green: rgb(87, 197, 53);
  --color-button-blue:rgb(157, 102, 239);
  --color-button-red:rgb(236, 26, 26);
  --color-button-green-hover: rgba(87, 197, 53, 0.65);
  --color-button-red-hover:rgba(236, 26, 26, 0.65);

  --border-color-black: rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input::placeholder{
    font-size: 8px;
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
  width: 100%;
  max-width: 1440px;
  min-height: 560px;
  place-items: top;
  margin: 0;
  background-color: var(--bg-color-body);
}
h1, h2, h3, h4, h5, ul, li, a, p{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
