:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  --color-white: white;
  --color-border: #6d9cd2;

  --color-button-green: rgb(86, 197, 53);
  --color-button-red:rgb(236, 26, 26);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, a, p{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
